*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

.container
{
    
}
/* NAVBAR */
li{
    display: inline-block;
}
li a
{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}
nav{
    position: fixed;
    right:15px;
    top:30px;
}


/* MAIN */

/*SHOES DIMENSIONS*/
.shoes
{
    width: 100%;
    height: 100vh;
}

/* IMAGE SHOES */
figure img{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT SHOES */
.shoes-text{

    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: yellow;
    width: 50%;
}

/* CONTAINER SHOES AND TEXT */
#main-container
{
    transform: translate(0,25%);
}

/* BRANDE SHOES */
#different
{
    background-color: red;
}

